<div class="col-md-12 well">
  <h1>History</h1>
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <tbody class="table-hover">
        <tr>
          <th ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-class="{'dropdown':!sortReverse, 'dropup':sortReverse}">
              <span ng-show="sortType == 'name'" class="caret"></span>
            </span>
          </th>
          <th colspan="2" ng-click="sortType = 'number'; sortReverse = !sortReverse">
              Phone Number
            <span ng-class="{'dropdown':!sortReverse, 'dropup':sortReverse}">
              <span ng-show="sortType == 'number'" class="caret"></span>
            </span>
          </th>
          <th ng-click="sortType = 'time'; sortReverse = !sortReverse">
            Time
            <span ng-class="{'dropdown':!sortReverse, 'dropup':sortReverse}">
              <span ng-show="sortType == 'time'" class="caret"></span>
            </span>
          </th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="item in items | orderBy:sortType:sortReverse track by $index">
          <td>{{item.name}}</td>
          <td colspan="2">{{item.number}}</td>
          <td>{{item.time | date: "HH:mm"}}</td>
          <td>
            <input type="checkbox" ng-checked="item.done" ng-value="item.done" ng-click="update(item)" />
          </td>
          <td>
            <button ng-click="remove(item)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="btn-group">
            <button ng-click="getItems()" class="btn btn-default">All</button>
            <button ng-click="filterNext()" class="btn btn-default">Next</button>
            <button ng-click="filterFinished()" class="btn btn-default">Finished</button>
          </td>
          <td></td>
          <td>
            <button ng-click="removeAll()" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Clear All</button>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
