<div class="col-md-12">
  <div class="col-md-6 pull-left">
    <div class="widget" ng-controller="NextCtrl">
      <div ng-include src="'/views/next.html'"></div>
    </div>
  </div>
  <div class="col-md-6 pull-right">
    <div class="widget" ng-controller="AddCtrl">
      <div ng-include src="'/views/add.html'"></div>
    </div>

    <div class="menu" ng-controller="HistoryCtrl">
      <div ng-include src="'/views/history.html'"></div>
    </div>
  </div>
</div>
