<div class="col-md-12 well">
  <h1>Next</h1>
  <form class="col-md-12 input-group">
    <input ng-model="model.name" class="col-lg-3" disabled="disabled">
    <input ng-model="model.number" class="col-lg-6" disabled="disabled">
    <input value="{{model.time | date: 'HH:mm'}}" class="col-lg-3" disabled="disabled">
  </form>
</div>
